// STYLES CONCERNED WITH THE ABOUT PAGE.
@use '../abstracts/mixins';

.about {
    padding: 4rem;

    &__container {
        @include mixins.grid($cols: 2);
        align-items: center;
    }
}

.about__container-header {
    &-text {
        font-size: var(--extra-large-200);
        padding-inline-end: 12px;
        // text-decoration-line: underline;
        // text-decoration-style: dashed;
        // text-decoration-color: Linear Gradient rgba(0, 0, 0, 0) 0% #000000 46.35% rgba(0, 0, 0, 0) 100%;
        // text-decoration-skip: 2;
    }

    &__header-text::after {
        // background: linear-gradient(rgba(0, 0, 0, 0) 0% #000000 46.35% rgba(0, 0, 0, 0) 100%);
    }
}

// === For the grid position ===
.about__container-footer img {
    grid-column: 1/2;
    grid-column: setGridPosition(1, 2);
}