// THIS STYLESHEET IS CONCERNED WITH RESETTING ALL THE ELEMENTS TO THEIR DEFAULT STATE OF HOW WE WANT IT TO APPEAR ON THE WEBPAGE.
// @use currentStyle;

// @forward loads Every Loaded @use File In Current File If We LoadIt
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;

    padding: {
        bottom: 0;
        left: 0;
    }
}

a {
    text-decoration: none;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

input,
fieldset {
    border: 0;
    background: none;
}

fieldset {
    background: none !important;
}

input {
    border: 0;
    outline: 0;
}