// FOR TEXT
$font-stack-1: 'Inter',
sans-serif;
$font-stack-2: 'Plus Jakarta Sans',
sans-serif;
$font-stack-3: sans-serif;
$font-stack-4: sans-serif;
$font-stack-5: sans-serif;
$global-font-size: 16px;