// THE BENEFITS SECTION STYLES
@use '../abstracts/mixins';
@use '../abstracts/breakpoints'as *;
@use 'sass:math';

.benefits {
    @include mixins.flexDisplay($flex-direction:column);
    padding: calc(var(--large-400) * 3);
    gap: 1rem;
    background: var(--Benefits-bg-color);
}

.benefits__uptext {
    @include mixins.changeDisplay($display: block);
    color: var(--Benefits-upper-text-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.benefits__text {
    color: var(--Benefits-text-color);
    font-size: var(--large-100);
    text-align: center;
    max-width: 50ch;
    border-bottom: 1px solid var(--Benefits-rule-color);
    padding-bottom: var(--large-500);
}

.benefits__highlight {
    color: var(--Benefits-yellow-text-color);
}

<<<<<<< HEAD
=======
.benefits__each,
.benefits__each-text {
    @include mixins.flexDisplay($align-items: center);
    @include mixins.generalSpacing($gap: 1rem);
    font-weight: 600;

    @include media ("<=phone"and "<=900px") {
        flex-direction: column;
    }
}

>>>>>>> d23d6f183c3fa03b46dada2b21f195be8729f2c4
// specific image for this section.
.map-image {
    @include mixins.imageSize(100%, 100%, cover);
}