// THE BENEFITS SECTION STYLES
@use '../abstracts/mixins';
@use '../abstracts/breakpoints'as *;
@use 'sass:math';

.benefits {
    @include mixins.flexDisplay($flex-direction:column);
    padding: calc(var(--large-400) * 3);
    gap: 1rem;
    background: var(--Benefits-bg-color);

    @include media ("<=phone"and "<=tablet") {
        text-align: center;
        padding: 0;
    }
}

.benefits__uptext {
    @include mixins.changeDisplay($display: block);
    color: var(--Benefits-upper-text-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-weight: 600;

    @include media ("<=phone"and "<=tablet") {
        font-size: var(--small-300);
        padding-top: 1.5rem;
    }
}

.benefits__text {
    color: var(--Benefits-text-color);
    font-size: var(--large-100);
    text-align: center;
    max-width: 40ch;
    border-bottom: 1px solid var(--Benefits-rule-color);
    padding-bottom: var(--large-500);

    @include media ("<=phone"and "<=tablet") {
        font-size: var(--medium-100);
        font-weight: 500;
        padding: 2rem;
    }
}

.benefits__highlight {
    color: var(--Benefits-yellow-text-color);
}

.benefits__each,
.benefits__each-text {
    @include mixins.flexDisplay($align-items: center);
    @include mixins.generalSpacing($gap: 0.4rem);
    font-weight: 600;
    text-align: center;
}

// specific image for this section.
.map-image {
    @include mixins.imageSize(100%, 100%, cover);

    @include media("<=phone") {
        max-width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        padding: 0;
    }

    @include media("<=tablet") {
        max-width: 100%;
    }
}