// THE FEATURE SECTION
@use '../abstracts/'as mixins;

@mixin getDimension($width: none, $height: none) {
    aspect-ratio: calc($width / $height);
}

$border-radius: 30px;

// $image1: (
//     width: ,
//     height: 
// )
// $image2: (
//     width: ,
//     height: 
// )
// $image3: (
//     width: ,
//     height: 
// )

// // Aspect ratio calculator for images.
// @each $image in $images {
//     aspect-ratio: ;
// }

.features {
    &__detail-block {
        margin-bottom: 2rem;
        text-align: center;
    }
}

.features__header {
    @include mixins.fonts($size: var(--extra-large-200), $weight: 600);
    margin-bottom: 2rem;

    +.features__text {
        @include mixins.fonts($size: var(--small-400), $weight: 400);
        max-width: inherit;
    }
}

.features__card-container {
    @include mixins.flexDisplay($justify-content: space-between, $align-items: center);
    gap: 4rem;

    .features__card {
        background-color: var(--Features-card-background);
        overflow: hidden;
        @include mixins.generalSpacing($padding: 2.5rem 1.2rem);
        @include mixins.flexDisplay($flex-direction: column, $align-items: none);
        border-radius: $border-radius;
        overflow: hidden;

        &__text {
            font-size: 1.5rem;
        }

        &__image-block {
            border-radius: $border-radius;
            height: 100%;
            // flex: ;
        }
    }
}