@use '../abstracts/mixins';
@use '../abstracts/breakpoints'as *;


// THE NOTIFY SECTION STYLES
@mixin marginPadding($size, $prop) {
    $prop: #{$size};
}

.notification {
    @include mixins.flexDisplay($align-items: center);
    background-color: var(--Notify-bg-color);
    padding: 4rem 2rem 0 2rem;

    @include media("<=phone"and "<=tablet") {
        flex-direction: column;
        @include mixins.generalSpacing($padding: 2rem 2rem 0 2rem);
        text-align: center;
    }
}

.notification__left {
    @include mixins.flexDisplay($flex-direction: column, $align-items: flex-start);
    @include mixins.generalSpacing($gap: 1rem);
    flex-grow: 1;

    .notification__header {
        @include marginPadding(2rem, 'margin-bottom');

        &-text {
            font-size: var(--large-200);
            max-width: 60ch;

            @include media("<=phone"and "<=tablet") {
                font-size: var(--medium-100);
            }
        }
    }

    .notification__text {
        font-size: var(--small-500);

        @include media ("<=phone"and "<=tablet") {
            font-size: var(--small-200);
        }
    }

    .notification__feature {
        @include mixins.generalSpacing($padding: 1rem 1rem 1rem 0);
        @include mixins.fonts($size: var(--small-400));
        @include mixins.flexDisplay($justify-content: space-between, $align-items: center);

        b,
        span {
            flex-grow: 1;

            @include media ("<=phone"and "<=tablet") {
                text-align: left;
            }
        }

        @include media ("<=phone"and "<=tablet") {
            font-size: var(--small-200);
        }
    }
}