@use '../abstracts/mixins';


// THE NOTIFY SECTION STYLES
@mixin marginPadding($size, $prop) {
    $prop: #{$size};
}

.notification {
    @include mixins.flexDisplay($align-items: center);
    background-color: var(--Notify-bg-color);
    padding: 0 4rem;
}

.notification__left {
    @include mixins.flexDisplay($flex-direction: column, $align-items: flex-start);
    @include mixins.generalSpacing($gap: 4rem);

    .notification__header {
        font-size: var(--large-100);
        @include marginPadding(2rem, 'margin-bottom');
    }
}