// FOR THE ABOUT.
@use '../abstracts/mixins';
@use '../abstracts/breakpoints'as *;

// THE GRID
.about__container {
    @include mixins.grid($cols: 2);
    align-items: center;

    @include media("<=phone"and "<=tablet") {
        @include mixins.grid($cols: 1);
    }

    &-statement:nth-of-type(2) {
        order: 2;
    }
}

// A FLEX LAYOUT - FOR THE BENEFITS PAGE
.benefits__each,
.benefits__each-text {
    @include mixins.flexDisplay($align-items: center);
    @include mixins.generalSpacing($gap: 1rem);
    font-weight: 600;

    @include media ("<=phone"and "<=900px") {
        flex-direction: column;
    }
}

// Footer Grid
.footer {
    &__button {
        grid-column: 2/3;
    }

    .footer__top {
        // @include mixins.flexDisplay($justify-content: space-between, $align-items: flex-start);
        display: grid;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;

        @include media("<=phone"and "<=900px") {
            @include mixins.flexDisplay($flex-direction: column, $align-items: center);
        }

        &-text {
            font-size: var(--large-100);
            max-width: 30ch;

            @include media("<=phone"and "<=tablet") {
                font-size: var(--medium-100);
                text-align: center;
            }
        }

        .footer__social-icons {
            @include mixins.flexDisplay($justify-content: flex-start);
            gap: 1.3rem;
        }
    }
}

// A FLEX LAYOUT - FOR THE CONTACTS PAGE.
.contact {
    &__header {
        background-color: var(--Contact-icon-group-bg-color);

        &-links {
            @include mixins.generalSpacing($padding: 4rem 0);
            @include mixins.flexDisplay($align-items:center, $justify-content: space-evenly);

            @include media("<phone"and "<=tablet") {
                flex-direction: column;
            }
        }
    }
}