@use '../abstracts'as mixins;

// Logo
.nav__logo {
    @include mixins.widthAndHeight($width: 200px);
    object-fit: scale-down;
}

// Hero Iphone
.hero__image {
    @include mixins.positioning($position: relative, $left: 4rem);
    @include mixins.widthAndHeight($width: 100%, $height: 100%);
    object-fit: cover;
    aspect-ratio: 3/4;
}

// Notification Iphone
.notification__left-image {
    position: relative;
    left: 8rem;
}