@forward './functions';

// Mixins
@mixin fonts($size: 1rem, $weight: 500) {
    font-size: $size;
    font-weight: $weight;
}

@mixin grid($cols: 1, $rows: initial) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
}

@mixin gridSpan() {
    grid-column: setGridPosition();
}

// Convert to pixels
@mixin textMaxWidth($max-width) {
    max-width: getCh($max-width);
}

@mixin changeDisplay($display: block, $space: 0) {
    display: $display;
    // FOR THE SAKE OF LATER, ADD MARGINS AND PADDINGS TO BE CHANGED LATER.
    // padding: $space;
    margin: $space;
}

// Add a Boolean Operator to this mixin, and transfer it to the appropriate stylesheet.
@mixin visibility($isVisible) {
    visibility: $isVisible;
}

@mixin colorSchemeMix($color: none, $background-clr: none) {
    color: $color;
    background-color: $background-clr;
}

@mixin borderProps($border: 1px solid black, $outline: 0, $borderRadVal: 0) {
    // default values, input your own.
    border: $border;
    outline: $outline;
    border-radius: $borderRadVal;
}

@mixin widthAndHeight($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
    max-width: $width;
    min-height: $height;
}

@mixin positioning($position: relative, $top: 0, $bottom: 0, $left: 0, $right: 0) {
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}


@mixin flexDisplay($display: flex, $flex-direction: row, $align-items: center, $justify-content: center) {
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin generalSpacing($gap: 1rem, $padding: 0, $margin: 0) {
    gap: $gap;
    padding: $padding;
    margin: $margin;
}

@mixin formatListItems() {
    // These ones are here to remove unnecessary spacing
    list-style: none;
}

@mixin borderRadius($border-radius: 0) {
    border-radius: $border-radius;
}

@mixin backgroundImage($dir, $url) {
    background-image: url("../images/#{dir}/#{$url}.svg");
    background-size: contain;
    // background-position: $position;
    background-repeat: no-repeat;
}

@mixin imageSize($width, $height, $objectFit) {
    width: $width;
    height: $height;
    object-fit: $objectFit;
}

@mixin paddingMarginInline($value1, $value2) {
    padding-inline: $value1;
    margin-inline: $value2;
}

// @mixin selector($font) {
    //     @include media ("<=phone"and "<=tablet") {}
    // }