@use './mixins';
@use './breakpoints'as *;

// EXTEND THIS PLACEHOLDER TO THE HERO AND NOTIFY SECTIONS.
@mixin fontSize($size) {
    font-size: $size;
}

.form {
    &__fieldset {
        @include mixins.flexDisplay();
        @include mixins.generalSpacing($padding: .5rem);
        @include mixins.borderProps($borderRadVal: 15px, $border: 1px solid var(--Form-border-color));
        background-color: var(--Form-bg-color);
        margin-bottom: var(--large-300);

        @include media ("<=phone"and "<=tablet") {
            align-items: flex-start;
            flex-direction: column;
        }

        &__label {
            @include mixins.changeDisplay($display: none);
        }

        &__email-input {
            background: none;
            @include mixins.borderProps($border: 0);
            @include mixins.fonts($size: 1.5rem);
            @include mixins.generalSpacing($padding: 0.5rem);

            @include media("<=phone"and "<=tablet") {
                font-size: var(--small-500);
            }
        }

        &__email-input::placeholder {
            color: var(--General-color-black);
        }

        // specific to this page.
        &__button {
            @include mixins.generalSpacing($padding: 1rem 1.4rem);
            @include mixins.fonts($size: var(--small-100), $weight: 600);
            @include mixins.borderProps($borderRadVal: 10px);
            background-color: var(--General-color-black);
            color: var(--General-color-white);

            @include media ("<=phone"and "<=tablet") {
                align-self: stretch;
            }
        }
    }
}

// }

// :root {
//     --main: #{clr(normal)};
// }

// .home {
//     --main: #{clr(home)};
// }

// .about {
//     --main: #{clr(about)};
// }

// .faq {
//     --main: #{clr(faq)};
// }

// .contact {
//     --main: #{clr(contact)};
// }

// . {
//     --main: #{clr(home)};
// }