@use 'root';
@use 'partials';

/* !!!!!! 

CHECK THE CODE, FOR STYLES THAT CAN CHANGE, AND WRITE REUSABLE CODE. 

!!!!!! */

/*---- DON'T CHANGE THE ROOT STYLE INCASE OF ANY FUTURE CHANGES, INSTEAD THE EXACT FILE STYLES ---- */

/* === COLOR VARIABLES === */
$header-color-black: hsla(240, 6%, 10%, 1);

// buttons
$button-bg-color: $header-color-black;
$button-text-color: hsla(210, 40%, 98%, 1);

// The Stying of this section
.header {
    @include partials.generalSpacing($padding: 1rem 3rem);

    // The Navigation inside the header
    .header__nav {
        @include partials.flexDisplay($justify-content: space-between);
        @include partials.generalSpacing($margin: 0 0 8rem 0);
        // The Nav-List

        .header__nav-list {
            @include partials.flexDisplay();
            @include partials.generalSpacing($gap: 2rem);
            @include partials.formatListItems();
        }

        // The Button Group - SignUp-Login and Download
        .header__button-group {
            @include partials.flexDisplay();
            @include partials.generalSpacing($gap: .5rem);

            // Each of the buttons
            .header__button {
                @include partials.generalSpacing($padding: .7rem .9rem);
                @include partials.borderProps($borderRadVal: 5px);
                @include partials.fonts($weight: 600, $size: .8rem);
                // hard-code
                cursor: pointer;
            }
        }
    }
}

// STANDALONE STYLES
.header__nav-link,
.header__button-link {
    text-decoration: none;
}

// THE TWO HEADER BUTTON CONTAINERS INDIVIDUALLY, AND THE BUTTONS IN THEM
.header__button:nth-of-type(1) {
    @include partials.colorSchemeMix($background-clr: $button-text-color);

    @include partials.borderProps($border: 1px solid $header-color-black);

    .header__button-link {
        @include partials.colorSchemeMix($color: $header-color-black)
    }
}

.header__button:nth-of-type(2) {
    @include partials.colorSchemeMix($background-clr: $header-color-black, $color: $button-text-color);

    .header__button-link {
        @include partials.colorSchemeMix($color: $button-text-color)
    }
}

// AVOID OVER-NESTING (The Li and anchor tags - Navigation links)
.header__nav-item {
    @include partials.generalSpacing($margin: .2rem);

    .header__nav-link {
        // For the Color
        @include partials.fonts($size: .9rem, $weight: 600);
        @include partials.colorSchemeMix($color: $header-color-black);
    }
}


// COME BACK TO REVIEW AND WRITE TESTS FOR THIS CODE.