// THE COLOR SCHEME OF THE WEBSITE.

// Global Variables
$bg-color-white: hsla(0, 0%, 100%, 1);
$bg-color-light-gray: hsla(0, 0%, 97%, 1);
$bg-color-black: hsla(240, 6%, 10%, 1);

// MAKE THEM STATIC
$general-color-black: hsla(240, 6%, 10%, 1);
$general-color-white: hsla(0, 0%, 100%, 1);

$text-color-grey: hsla(240, 5%, 34%, 1);
$theme-color: hsla(43, 94%, 48%, 1);

$tetiary-color: hsla(16, 85%, 66%, 1);

// make them reusable
// $light-blue-color:;
// $footer-liquidmoni:;

// The Font-Stacks
$font-stack-1: sans-serif;
$global-font-size: 16px;


// HTML Root Element
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: $global-font-size;
    font-family: $font-stack-1;
}